.benefits {
    background-color: var(--accent-text-color);
    @media screen and(min-width: 310px){
    // padding-top: 30px;
        // padding-bottom: 30px;
       }        
    @media screen and(min-width: 480px) {
        padding-top: 60px;
        padding-bottom: 60px;
        }
    
    @media screen and(min-width: 768px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    
    @media screen and(min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
}

.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 


.benefits__title {
    color: var(--title-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        margin: 0;
        margin-bottom: 10px;
        width: 270px;
}



.benefits__after-title {
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        margin: 0;
}



.benefits__list-item {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    @media screen and(min-width: 768px) {width: calc((100% - 30px) / 2);}
    @media screen and(min-width: 1200px){width: calc((100% - 90px) / 4);}

}

.benefits__wrap{
    display: flex;
    background-color: var(--color1);
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;    
    margin-right: auto;
    margin-left: auto;
    height: 120px;
    
}

.benefits__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-right: auto;
    margin-left: auto;
}

