.clients {
    background-color: var(--accent-text-color);
    @media screen and(min-width: 480px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    
        @media screen and(min-width: 768px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    
        @media screen and(min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
    }


.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.clients__item {
    width: 100%;
   height: 92px;
 @media screen and(min-width: 480px) {width: calc((100% - 30px) / 2);}
@media screen and(min-width: 768px) {width: calc((100% - 60px) / 3);}
@media screen and(min-width: 1200px) {width: calc((100% - 150px) / 6);}
}

.client-logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4%;
    box-shadow: rgba(0, 0, 0, 0.25);
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     &:hover{
    border: 1px solid #2196F3;
    }
     &:focus{
    border: 1px solid #2196F3;
     }

    &:hover .client-logo__icon{
        fill: #2196F3
    }
    &:focus .client-logo__icon {
fill: #2196F3}

}

.client-logo__icon {
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



