.mob-menu{
    @media screen and(min-width: 310px) and(max-width: 767px) {
            position: fixed;
            z-index: 2;        
            background-color: var(--accent-text-color);
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            padding: 48px 40px;
            //  transform: translateX(100%);
            // transition: transform 400ms;

                 transition-property: opacity;
                  transition-duration: 400ms;
               transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// transition-property: visibility;
    // transition-duration: 1400ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


            //  &not.is-hidden{
                // transform: translateX(0);
             }

         @media screen and(min-width: 768px) {display: none;}
    
         @media screen and(min-width: 1200px) {display: none;}
        }

        

.mob-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-open {
    @media screen and(min-width: 310px) {
        background-color: transparent;
        border: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin-top: 15px;
    }

    @media screen and(min-width: 480px) {
        background-color: var(--accent-text-color);
        border: none;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
    }
        @media screen and(min-width: 768px) {
            display: none;
        }
    
        @media screen and(min-width: 1200px) {
            display: none;
        }

}

.menu-close {
   display: block;
   position: absolute;
   padding: 0;
   cursor: pointer;
   width: 40px;
   height: 40px;
   top: 10px;
   right: 22px;
   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus{
        fill: var(--accent-color);
    }
   
    @media screen and(min-width: 310px) {
        background-color: var(--accent-text-color);
        border: 1px solid var(--accent-text-color);
    }

    @media screen and(min-width: 480px) {
        background-color: var(--accent-text-color);
        border: 1px solid var(--accent-text-color);
    }

    @media screen and(min-width: 768px) {
        display: none;
    }


    @media screen and(min-width: 1200px) {
        display: none;
    }
}

// .mobile-navigation{
    // margin-bottom: 302px;
// }
.mobile-link-last{
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {color: var(--accent-color);}
    
}
.mobile-link{
    display: block;
    margin-bottom: 36px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {color: var(--accent-color);}
}
.mobile-link-curent {
    display: block;
    font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        margin-bottom: 36px;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--accent-color);
        
}

.mobile-link, .mobile-link-last, {
    font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
}
.mobile-link-tel{
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    display: block;
    margin-bottom: 32px;
    @media screen and(min-width: 320px) {
            font-size: 25px;
        }
}

.mobile-link-mail{
    display: block;
    margin-bottom: 64px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.mobile-soc-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.link-ins,
.link-tw,
.link-face,
.link-link {
    color: var(--accent-color);
    

}

.link-ins::after{
    content: '';
    width: 22px;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    display: block;
    position: relative;
    transform: rotate(90deg);
    left: 73px;
    bottom: 10px;
    }

.link-tw::after {
    content: '';
    width: 22px;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    display: block;
    position: relative;
    transform: rotate(90deg);
    left: 48px;
    bottom: 10px;
}

 .link-face::after{
    content: '';
    width: 22px;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    display: block;
    position: relative;
    transform: rotate(90deg);
    left: 68px;
    bottom: 10px;
 }
 .is-hidden {
     opacity: 0;
     visibility: hidden;
     pointer-events: none;

 }