.modal {
@media screen and(min-width: 310px) and(max-width: 480px){
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    transform: translate(-50%, -50%);
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%);
    transition: cubic-bezier(0.0, 0.0, 1.0, 1.0);
    margin: 0;

}
    
    @media screen and(min-width: 600px){
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 581px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%);
    transition: cubic-bezier(0.0, 0.0, 1.0, 1.0);
    margin: 0;}
    @media screen and(min-width: 1200px){
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 581px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%);
    transition: cubic-bezier(0.0, 0.0, 1.0, 1.0);
    margin: 0;
    }

}


.close-modal {
    position: absolute;
    top: 25px;
    right: 52px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: transparent;
    padding: 0;
    margin: 0;
    transition-property: color;
    transition-duration: 250ms;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover .modal-icon{ fill: var(--accent-color);}
    &:focus .modal-icon{fill: var(--accent-color)}
}


.is-hidden {
    opacity: 0;
    visibility: hidden;
   

}

.backdrop.is-hidden .modal {
    min-height: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
}