/* головний колір текста #757575
колір заголовків #212121
основний фон #F5F5F5
фон підвала та героя #2F303A
фон секції #F5F4FA
колір акцента #2196F3 
акцент текста #FFFFFF*/

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --accent-text-color: #FFFFFF;
    --accent-background-color: #2F303A;
    --background-color: #F5F5F5;
    --color1: #F5F4FA;

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
    @media screen and(min-width: 480px) { width: 480px; } 

    @media screen and(min-width: 768px) { width: 768px;  }
    @media screen and(min-width: 1200px) {width: 1200px;  }
}

body {
    font-family: 'Roboto', sans-serif;

    color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.title-second {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-right: 0;
    margin-bottom: 50px;
    @media screen and(min-width: 768px) {
        font-size: 28px;
        margin-bottom: 30px;
        }
    @media screen and(min-width: 480px) {
              font-size: 28px;
              margin-bottom: 30px;
          }
}



